.git
.github
.gitignore
.env
.env.example
.phpunit.cache
.idea
.vscode

node_modules
vendor

tests
phpunit.xml
phpstan.neon
pint.json
rector.php

docker
docker-compose.yml
Dockerfile

*.md
!README.md

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

bootstrap/cache/*
